body {
	margin: 0;
	padding: 0;
	background-color: #3d3838;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
	margin: 0;
	padding: 0;
}

.content-section {
	max-width: 360px;
	box-sizing: border-box;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 24px 20px;
}

.content-section_theme_dark {
	background-color: #131313;
	color: #f5f5f5;
}

.content-section_theme_bright {
	background-color: #fee42a;
	color: #131313;
}

.header__logo-image {
	width: 78.453px;
	height: 15.432px;
}

.header__menu-item {
	list-style-type: none;
	font-size: 16px;
	margin-bottom: 12px;
}

.header__menu-link {
	color: #f5f5f5;
	line-height: 19.2px;
}

.header__menu-item_active {
	text-decoration: none;
}

.cover {
	padding: 0 20px 30px 20px;
	background-image: url(/images/cover.svg);
	background-repeat: no-repeat;
	background-size: 95% auto;
	background-position: center;
}

.cover__title {
	color: #fff;
	font-family: "EB Garamond";
	font-size: 72px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
}

.accent-span {
	display: flex;
}

.text-center {
	justify-content: center;
}

.text-right {
	justify-content: end;
}

.intro {
	padding: 0 20px 37px 20px;
}

.intro__heading {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	color: #ccc;
	font-size: 16px;
	line-height: 120%;
	padding-bottom: 24px;
}

.intro__main-text {
	color: #f5f5f5;
	font-family: Inter;
	font-size: 16px;
	line-height: 135%;
}

.main-text-1 {
	padding-bottom: 24px;
}

.reason {
	padding: 40px 20px 40px 20px;
}

.content-section__subtitle {
	color: #131313;
	font-family: "EB Garamond";
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
	line-height: 115%;
	padding-bottom: 32px;
}

.content-section__introduction {
	color: #131313;
	font-size: 20px;
	line-height: 27px; /* 135% */
	padding-bottom: 32px;
}

.content-section__list-item {
	color: #131313;
	font-size: 16px;
	line-height: 21.6px;
	padding-bottom: 16px;
	margin-left: 20px;
}

.content-section__list-accent {
	font-weight: bold;
}

.no-padding {
	padding-bottom: 0;
}

.how-to {
	padding: 40px 20px 60px 20px;
}

.subtitle-color {
	color: #f5f5f5;
}

.card {
	border-radius: 30px;
	padding: 20px;
	margin-bottom: 32px;
}

.last_card {
	margin-bottom: 0;
}

.card_theme_dark {
	background: #343434;
	color: #f5f5f5;
}

.card__author-photo {
	max-width: 100px;
	max-height: auto;
	padding-bottom: 8px;
}

.card__author-name {
	font-size: 16px;
	line-height: 135%; /* 21.6px */
	padding-bottom: 8px;
}

.card__title {
	font-family: "EB Garamond";
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: 135%; /* 29.7px */
	padding-bottom: 8px;
}

.card__text {
	font-size: 16px;
	line-height: 21.6px; /* 135% */
}

.card_theme_bright {
	background: #fee42a;
	color: #131313;
}

.footer {
	padding: 10px 20px 20px 20px;
	display: flex;
	justify-content: space-between;
}

.footer__copy {
	font-size: 16px;
}

.footer__link {
	padding-left: 16px;
	font-size: 14px;
	color: #f5f5f5;
	text-decoration: none;
}
